* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

body {
    font-family: 'Roboto', sans-serif;
    background-image: url("images/bg.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
    height: 100vh;
}

nav {
    height: 50px;
    width: 100%;
    padding: 20px 0;
}

.container {
    width: 1200px;
    max-width: 85%;
    margin: 0 auto;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    margin: 0px 6px;
}

nav ul li a {
    color: #fff;
    padding: 10px;
    text-transform: uppercase;
}

nav ul li a:hover, a.active {
    background-color: #3352F2;
    border-radius: 5px;
}

.main-content {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 70px;
    align-items: center;
}

.booking-form {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 25px;
    border-radius: 5px;
    float: left;
}

.booking-form h3 {
    margin: 10px 0px;
}

.booking-form .input-group {
    margin: 10px 0;
}

.f-class {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inp-width {
    min-width: 300px;
}

.plus-minus-btn {
    display: flex;
    justify-content: space-evenly;
    width: 20%;
    margin-top: 12px;
}

.plus-minus-btn>button {
    display: inline-block;
    color: blue;
    font-weight: bold;
    font-size: 20px;
    padding: 5px 10px;
    border: none;
    background: white;
    box-shadow: 0px 0px 5px #b3b3b3;
    border-radius: 5px;
}

.booking-form .calculations {
    margin: 10px 0;
}

.booking-form .calculations p {
    font-weight: 500;
    margin-bottom: 10px;
}

.booking-form input {
    width: 100%;
    display: block;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background: #F3F5FF;
    border-radius: 4px;
    margin: 10px 0;
}

.booking-form .inputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.booking-content {
    color: #fff;
    width: 80%;
}

.booking-content h1 {
    font-size: 70px;
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    font-weight: 400;
    margin-bottom: 25px;
}

.btn-style {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-weight: 500;
    background-color: #3352F2;
}

.amount {
    display: flex;
    justify-content: space-between;
}

/* pop up section */

.popup {
    position: absolute;
    background-color: #4285f4;
    border-radius: 10px;
    width: 400px;
    height: 350px;
    top: 50%;
    left: 50%;
    transform: scale(0) translate(-50%, -50%);
    box-shadow: 0px 0px 100px 10px black;
    transform-origin: top left;
    transition: 0.5s;
}

.popup>h1 {
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    margin: 30px 0px;
    color: #ffffff;
}

.popup>div {
    background-color: white;
    border-radius: 30px 30px 10px 10px;
    height: 74%;
    padding: 30px;
    box-shadow: 0px -1px 25px rgb(66, 66, 66);
}

.popup>div p {
    margin-bottom: 20px;
}

.popup>div p:nth-child(3) {
    margin-top: 50px;
}

.popup>div button:nth-last-child(2) {
    padding: 10px;
    border: none;
    background-color: #dc3545;
    position: absolute;
    right: 20px;
    bottom: 20px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
}

.popup>div button:nth-last-child(1) {
    padding: 10px;
    border: none;
    background-color: #4285f4;
    position: absolute;
    left: 20px;
    bottom: 20px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
}